h1 {
 display: none;
}
a{
 text-decoration: none;
}
#cc {
 font-family:굴림;
 font-size: 4vmax;
 text-align:center;
 color:green;
 margin:1%;
 padding:1%;
}
#top {
    font-size: 1.6vmax;
    text-align:center;
    font-weight: bold;
    color: green;
    padding-left: 5%;
    padding-right: 5%;
}
#grid {
 text-decoration-line: none;
 display:grid;
 grid-template-columns: 50% 1fr;
 margin: 0.5%;
}
#left {
 text-align:center;
 margin: 0.5%;
 padding: 0.5%;
}
#for {
 width: 25%;
}
#right {
 border-left:1px solid black;
 font-size: 1.2vmax;
 font-weight: bold;
 color:gray;
 line-height: 150%;
 list-style-type: none;
 margin:0.5%;
 padding:0.5%;
 padding-left: 5%;
}
#page {
 border-top:1px solid black;
 border-bottom:1px solid black;
 font-size: 1.3vmax;
 line-height: 150%;
 margin: 1.5%;
 padding: 1.5%;
 padding-left:10%;
 padding-right:10%;
}
#bottom {
 font-size: 1.6vmax;
 text-align:center;
 padding-left: 5%;
 padding-right: 5%;
}
#com {
 margin-left: 30%;
 margin-right: 30%;
 border-top:1px solid black;
 font-size: 1vmax;
 text-align:center;
 color: gray;
}
